﻿@using Telerik.Sitefinity.Web;
@using SitefinityCalendar.Mvc.Models
@model EventsWidgetModel

<link href="@Url.Content("~/ResourcePackages/EventsWidget/css/main.css")" rel="stylesheet" type="text/css" />

@{
	string currentPageUrl = SiteMapBase.GetActualCurrentNode().UrlName.ToString();
}


<div class="events-panel">
	<div class="calendar-buttons">
		<div class="sort-buttons btn-group" role="group">
			<a href="@Url.Action("Index", "Events")" class="btn btn-primary">All Events</a>
			@foreach (var ca in Model.Calendars)
			{
				<a href="@Url.Action("Index", "Events", new { calendarTitle = ca.Title })" class="btn btn-primary">@ca.Title</a>
			}
			<a href="@Url.Action("Order", "Events", new { sortBy = "start" })" class="btn btn-primary">Sort by Start Date</a>
			<a href="@Url.Action("Order", "Events", new { sortBy = "end" })" class="btn btn-primary">Sort by End Date</a>
		</div>
	</div>
	<div class="events">
		@foreach (var ev in Model.Events)
		{
			<div class="event">
				<div class="event-content">
					<h3><a href="@Url.Content("~/" + currentPageUrl + ev.ItemDefaultUrl)">@ev.Title</a></h3>
					<p>Start: @ev.EventStart.ToString("MMMM d, h:mm tt")</p>
					<p>End: @string.Format("{0:MMMM d, h:mm tt}", ev.EventEnd)</p>
				</div>
			</div>
		}
	</div>
</div>