﻿.events-panel {
	background-color: #fff;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	border: 2px solid #ccc;
}

.events {
	display: flex;
	flex-wrap: wrap;
}

.event {
	flex: 0 0 auto;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #f2f2f2;
	padding: 10px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	outline: 2px solid #ccc;
	outline-offset: -2px;
}

.calendar-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}
